# Permanences
[wandb]
project = "Sam2Segnet"
entity = "lit-rvc"
name = "first-test-run"
tags = ["testing", "training"]
notes = "This run is part of a sweep: "
count = 10

[data]
root = "data/datasets/mars"
data_format = "PascalVocFormat"

[mask_creator]
morph_size = 1
border_size = 4
ignore_value = 255

[components]
optimizer = "SGD"
scheduler = "StepLR"
criterion = "CrossEntropyLoss"

[hyperparams]
config_file = "configs/sam2segnet/hyper_config.toml"

[network]
model = "deeplabv3_resnet50"
num_classes = 21
pretrained = true

# Processes
[predict_mask]
force = false

[training]
force = false
