# Configuration permanence - stores pipeline settings
[permanences.config]
type = "ConfigPermanence"
config_path = "./configs/pipeline_config.toml"

# Data permanence - stores data throughout the pipeline
[permanences.data]
type = "DataPermanence"
data_dir = "./data"
